venv
__pycache__
*.pyc
*.pyo
*.pyd
 
.git
.gitignore

node_modules
dist
build

media
staticfiles

logs

.env

frontend/node_modules
frontend/dist

backend/__pycache__
backend/uploads
backend/logging_conf/logs
Dockerfile
sql/